@{
    ViewData["Title"] = "Meet the Artist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui-container-fluid">
    <h1 class="headingText" align="center">Meet the Dahll</h1>
    <div class="mui-divider"></div>
    <br />
    <br />
    <div class="mui-row">
        <div class="mui-col-md-6" align="right">
            <p>KJ Ledeboer is a licensed cosmetologist. </p>
            <p>She is available for on location makeup & hair services, makeup lessons.</p>
            <p>With seven years under her belt as a stage performer and a model, she knows makeup and hair! Contact her to discuss your needs for hair & makeup for special event, stage performance & modeling work. She is also a craftswoman skilled in costume repair and alterations, custom head adornments and headdresses.</p>
        </div>
        <div class="mui-col-md-6">
            <img src="~/images/creations/bio.jpg" width="450" />
        </div>
    </div>
</div>