@{
    ViewData["Title"] = "Meet the Artist";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<p>KJ Ledeboer is a licensed cosmetologist.
She is available for on location makeup & hair services, makeup lessonsWith seven years under her belt as a stage performer and a model, she knows makeup and hair! Contact her to discuss your needs for hair & makeup for special event, stage performance & modeling work. She is also a craftswoman skilled in costume repair and alterations, custom head adornments and headdresses.</p>