@{
    ViewData["Title"] = "The Dahll Haus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-cover uk-cover-background uk-position-relative">
    <video class="uk-cover-object uk-position-absolute" autoplay>
            <source src="~/videos/UADA.mp4" type="video/mp4" />
    </video>
</div>
