@{
    ViewData["Title"] = "The Dahll Haus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="uk-height-large uk-background-cover uk-flex" uk-parallax="bgy: -200">
<img class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" src="~/images/kateslogos/thedahllhouse_logo_black.png"  />
</div>

headdresses
hats
fascinators
masks
costume repair and alteration
wig cleaning and repair
zines