@{
    ViewData["Title"] = "The Dahll Haus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui--appbar-height"></div>
<div class="mui--text-center mui-cover mui--text-center">
    <video autoplay>
            <source src="~/videos/DahllHaus3.mp4" type="video/mp4" />
    </video>
</div>
