@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<p>
    Chrissy Groh reviewed The Dahll Haus: Makeup/Hair Services & Headdresses — 5 star
    November 9, 2015 ·
    Very professional, polite, and skilled. Revamped my headpiece and bustle for me in a quick turn around time! Would love to work with her again in the future with more elaborate pieces!
    Share
    The Dahll Haus: Makeup/Hair Services & Headdresses likes this.
    Comments
    The Dahll Haus: Makeup/Hair Services & Headdresses
    The Dahll Haus: Makeup/Hair Services & Headdresses Thank you Chrissy Groh, so glad I could help!
    1 · November 14, 2015 at 8:47am

    Melissa Hein reviewed The Dahll Haus: Makeup/Hair Services & Headdresses — 5 star
    May 29, 2015 ·
    Kate did an amazing job dying my hair bright blue... I got compliments on it for months and months.....she is a professional!
    Share

    Alison Kate Pickerel reviewed The Dahll Haus: Makeup/Hair Services & Headdresses — 5 star
    May 21, 2015 ·
    Share

    Layne Fawkes reviewed The Dahll Haus: Makeup/Hair Services & Headdresses — 5 star
    April 19, 2015 ·
    I love the headdresses I commissioned from Rocket. They're very sturdy and well made, not to mention fabulous. Most importantly she was on the ball with progress updates, communicative, and got them done very quickly. I will definitely order more from her in the future.
    1 Like1 Comment
    Share

    Cat Powell reviewed The Dahll Haus: Makeup/Hair Services & Headdresses — 5 star
    December 22, 2014 ·
    If you like creativity, originality, professionalism, artistry ---- this is the place! As a makeup artist and photographer, I have personally worked with The Dahll Haus. I was impressed with the varying looks, perfectionism, and detailing. Kate is a master of her craft and should be recognized for her work ethics and her beautiful mind!
    1 Like1 Comment
    Share

    Oksanna Tichenor reviewed The Dahll Haus: Makeup/Hair Services & Headdresses — 5 star
    December 19, 2014 ·
    Even though it was my first time with Kate, I felt like she understood right away the direction I was going and did her job with grace and confidence. Being super attentive and detail-oriented, she did a perfect job and of course she is charming, fun and clever, which makes the experience all the more enjoyable! Thank you Kate!
    Share
    The Dahll Haus: Makeup/Hair Services & Headdresses likes this.
    Comments
    The Dahll Haus: Makeup/Hair Services & Headdresses
    The Dahll Haus: Makeup/Hair Services & Headdresses Thank you Oksanna!
    December 20, 2014 at 12:30am
</p>