@{
    ViewData["Title"] = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui-container-fluid">
    <h1 class="headingText" align="center">Love Notes</h1>
    <div class="mui-divider"></div>

    <div class="mui-row" align="center">
        <div class="mui-col-md-2 review">
            <p>Very professional, polite, and skilled. Revamped my headpiece and bustle for me in a quick turn around time! Would love to work with her again in the future with more elaborate pieces!</p>
            <p>Chrissy Groh, November 9, 2015 </p>
        </div>
        <div class="mui-col-md-2 review">
            <p>Kate did an amazing job dying my hair bright blue... I got compliments on it for months and months.....she is a professional!</p>
            <p>Melissa Hein, May 29, 2015</p>
        </div>
        <div class="mui-col-md-2 review">
            <p>I love the headdresses I commissioned from Rocket. They're very sturdy and well made, not to mention fabulous. Most importantly she was on the ball with progress updates, communicative, and got them done very quickly. I will definitely order more from her in the future.</p>
            <p>Layne Fawkes, April 19, 2015</p>
        </div>
        <div class="mui-col-md-2 review">
            <p>If you like creativity, originality, professionalism, artistry ---- this is the place! As a makeup artist and photographer, I have personally worked with The Dahll Haus. I was impressed with the varying looks, perfectionism, and detailing. Kate is a master of her craft and should be recognized for her work ethics and her beautiful mind!</p>
            <p>Cat Powell, December 22, 2016</p>
        </div>
        <div class="mui-col-md-2 review">
            <p>Even though it was my first time with Kate, I felt like she understood right away the direction I was going and did her job with grace and confidence. Being super attentive and detail-oriented, she did a perfect job and of course she is charming, fun and clever, which makes the experience all the more enjoyable! Thank you Kate!</p>
            <p>Oksanna Tichenor, December 19, 2014</p>
        </div>
    </div>
</div>