<link href="https://fonts.googleapis.com/css?family=Amatic+SC|Satisfy|Archivo+Narrow" rel="stylesheet">

@{
    ViewData["Title"] = "The Dahll Haus Shop Categories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<TheDahllHaus.Models.Category>


<div class="mui-container-fluid">
    <h1 class="headingText" align="center">Welcome to the Shop!</h1>
    <div class="mui-divider"></div>
    <br />
    <div class="mui-container-fluid">
        <div align="center">
            <img src="~/images/creations/bunny1.jpg" width="300" />
            <img src="~/images/creations/wig-amy.jpg" width="300" />
            <img src="~/images/creations/skull3.jpg" width="300" />
        </div>
        <div class="mui-row">
            @foreach (var listCategory in Model)
            {
                <div class="mui-col-md-4 mui--divider-right">
                    <h2 style="font-family: 'Satisfy', cursive;">@Html.DisplayFor(modelCategory => listCategory.Name)</h2>
                    <button class="mui-btn mui-btn--dark mui-btn--small">@Html.ActionLink("See Items", "Index", "Items")</button>
                    <div class="mui-divider"></div>
                </div>
            }
        </div>
    </div>
</div>