@{
    ViewData["Title"] = "Repairs and Alterations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui-container-fluid">
    <h1 class="headingText" align="center">Repairs and Alterations</h1>
    <div class="mui-divider"></div>
    <br />
    <div align="center">
        <p>KJ Ledeboer a craftswoman skilled in costume repair and alterations, custom head adornments and headdresses. Here's a sample of her work.</p>
    </div>
    <br />
    <div class="mui-row" align="center">
        <div class="mui-col-md-4">
            <img src="~/images/creations/wig-mermaid2.jpg" width="350" />
            <p>Wigs and costume assistance on a mermaid photo shoot by Peter Carlson.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/creations/wigs-mermaids.jpg" width="350" />
            <p>Wigs and costume assistance on a mermaid photo shoot by Peter Carlson.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/creations/costumerepair.jpg" width="350" />
            <p>Repair work on a costume custom built two years ago for the same client. Hand dyed ostrich feathers.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/creations/crown.jpg" width="350" />
            <p>Crown reconstruction.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/creations/blue_layne.jpg" width="350" />
            <p>Headpiece for Layne Fawkes.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/creations/blue_layne2.jpg" width="350" />
            <p>Headpiece for Layne Fawkes.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/creations/Andrew.jpg" width="350"/>
            <p>Custom hat for Andrew.</p>
        </div>
    </div>
</div>