@{
    ViewData["Title"] = "MUA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui-container-fluid">
    <h1 class="headingText" align="center">Makeup, Hairstyling, Assistant Services</h1>
    <div class="mui-divider"></div>
    <br />
    <div align="center">
        <p>KJ Ledeboer is a licensed cosmetologist. </p>
        <p>She is available for on location makeup & hair services, makeup lessons.</p>
        <p>With seven years under her belt as a stage performer and a model, she knows makeup and hair! Contact her to discuss your needs for hair & makeup for special event, stage performance & modeling work. </p>
    </div>
    <br />
    <div class="mui-row" align="center">
        <div class="mui-col-md-4">
            <img src="~/images/MUA/photoassistBerlinMilkrobotics.jpg" width="350" />
            <p>MUA. Photographer: Milkrobotics. Model: Berlin.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/MUA/MUA-AncientHeat_KennethBarton.jpg" width="350" />
            <p>MUA work with photographer Kenneth Barton of the band Ancient Heat.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/MUA/MUA-babylestrange-jasonLanger.jpg" width="350" />
            <p>MUA work with photographer Jason Langer of model Baby LeStrange.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/MUA/Emma-MUA.jpg" width="350"  />
            <p>MUA. Model: Emma.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/MUA/hair.jpg" width="350" />
            <p>Hairstyling.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/MUA/hair2.jpg" width="350" />
            <p>Hairstyling.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/MUA/hair3.jpg" width="350" />
            <p>Hairstyling.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/MUA/hair4.jpg" width="350" />
            <p>Hairstyling.</p>
        </div>
        <div class="mui-col-md-4">
            <img src="~/images/MUA/hair5.jpg" width="350" />
            <p>Hairstyling.</p>
        </div>
    </div>
</div>